<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--变量声明-->
	<property name="app.name" value="wishWeb"/>
	<!--<property name="log.base" value="/data/logs/ms" />-->
	<property name="log.base" value="/data/logs/wish_web_busiSync" />
	<property name="log.name" value="wish_web_busiSync"/>

	<contextName>${app.name}</contextName>

	<!--default_log-->
	<appender name="default_log"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/${log.name}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</layout>
	</appender>

	<!--<logger name="com.foundation" level="info" >
		<appender-ref ref="default_log" />
	</logger>-->
	<!--default_log end-->

	<logger name="org.apache.ibatis" level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</logger>

	<logger name="java.sql" level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</logger>

	<!--其他日志包结构符合基本的交由root的appender打印输出   -->
	<logger name="org.apache.catalina" level="WARN" />
	<logger name="org.apache" level="WARN" />
	<logger name="com.google.code" level="ERROR" />
	<logger name="org.springframework" level="WARN" />

	<logger name="com.ibatis.mybatis" level="ERROR" >
		<appender-ref ref="default_log"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="default_log" />
	</root>
</configuration>
