<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd" default-autowire="byName"
       default-lazy-init="true">

    <!--测试业务库 begin-->
    <bean name="dataSource_sync_cs" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.cs.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
      <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>
    <bean id="sqlSessionFactory_sync_cs" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_cs"/>
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
    </bean>
    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_cs" />
    </bean>
    <!--测试业务库 end-->



    <!-- 配置数据源_从  广东基本库-->
    <bean name="dataSource_sync_gd" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.gd.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_gd" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_gd"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_gd" />
    </bean>




    <!-- 配置数据源_从  湖南基本库-->
    <bean name="dataSource_sync_hun" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.hun.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_hun" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_hun"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_hun" />
    </bean>




    <!-- 配置数据源_从  基本库-->
    <bean name="dataSource_sync_hub" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.hub.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_hub" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_hub"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_hub" />
    </bean>



    <!-- 配置数据源_从  安徽基本库-->
    <bean name="dataSource_sync_ah" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.ah.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_ah" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_ah"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_ah" />
    </bean>



    <!-- 配置数据源_从  四川基本库-->
    <bean name="dataSource_sync_sc" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.sc.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_sc" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_sc"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_sc" />
    </bean>


    <!-- 配置数据源_从  广西基本库-->
    <bean name="dataSource_sync_gx" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.gx.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_gx" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_gx"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_gx" />
    </bean>



    <!-- 配置数据源_从  基本库-->
    <bean name="dataSource_sync_fj" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.fj.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_fj" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_fj"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_fj" />
    </bean>




    <!-- 配置数据源_从  广州基本库-->
    <bean name="dataSource_sync_gz" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.gz.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_gz" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_gz"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_gz" />
    </bean>




    <!-- 配置数据源_从  江西基本库-->
    <bean name="dataSource_sync_jx" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.jx.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_jx" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_jx"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_jx" />
    </bean>



    <!-- 配置数据源_从  云南基本库-->
    <bean name="dataSource_sync_yn" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.yn.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_yn" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_yn"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_yn" />
    </bean>



    <!-- 配置数据源_从  浙江基本库-->
    <bean name="dataSource_sync_zj" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.zj.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_zj" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_zj"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_zj" />
    </bean>


    <!-- 配置数据源_从  重庆基本库-->
    <bean name="dataSource_sync_cq" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.cq.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_cq" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_cq"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_cq" />
    </bean>



    <!-- 配置数据源_从  江苏基本库-->
    <bean name="dataSource_sync_js" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.js.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_js" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_js"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_js" />
    </bean>


    <!-- 配置数据源_从  海南基本库-->
    <bean name="dataSource_sync_han" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.han.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_han" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_han"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_han" />
    </bean>


    <!-- 配置数据源_从  西藏基本库-->
    <bean name="dataSource_sync_xz" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.xz.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_xz" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_xz"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_xz" />
    </bean>



    <!-- 配置数据源_从  上海基本库-->
    <bean name="dataSource_sync_sh" class="com.foundation.dao.util.DecryptDruidSource"
          init-method="init" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.sync.sh.url}"/>
        <property name="username" value="${jdbc.sync.source2.username}"/>
        <property name="password" value="${jdbc.sync.source2.password}"/>
        <!--config.decrypt=true 用户名密码加密-->
        <property name="filters" value="config" />
        <property name="connectionProperties" value="config.decrypt=true" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="2"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="6000"/>
        <!-- 检测sql语句是否正确 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
    </bean>

    <!-- MyBatis配置_从 -->
    <bean id="sqlSessionFactory_sync_sh" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_sync_sh"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.foundation.dao.entity.sync"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:mapper/sync/${sync.source2}/*MapperSync.xml"/>
       
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.foundation.dao.modules.sync.source2" />
        <property name="annotationClass" value="com.foundation.common.persistence.annotation.MyBatisRepository"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_sync_sh" />
    </bean>
</beans>